:root {
  --white: #FFFFFF;
  --blue: #007bc1;
  --dark-blue: #004a75;
  --orange: rgb(255, 165, 0);
  --dark-orange: #cc6600;
  --smoke-grey: #e5e5e5;
  --grey: rgb(169, 170, 170);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1em;
  background: var(--smoke-grey);
  padding-bottom: 150px;
  min-height: 100%;
  position: relative;
  z-index: -1;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

a {
  color: rgb(38,33,220);
  text-decoration: none;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-2 {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 4rem !important;
}
.m-10 {
  margin: 10px;
}

i.fa {color: var(--grey)}

.text-center {text-align: center;}
.just-center {justify-content: center;}

#notification-panel {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--smoke-grey);
  height: 70px;
  z-index: 99;
  overflow: hidden;
  transition: all 300ms ease-in;
}

#notification-panel > .notification-content {
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#notification-panel > .notification-content > p {
  max-width: 600px;
}

#notification-panel > span {
  max-width: 720px;
}

.close-notif {
  height: 0px !important;
  padding: 0px !important;
}

.header {
  padding: 15px 30px;
  z-index: 2;
}

.header > img {
  width: 40px;
}

.main-content {
  margin-top: 70px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

#hero-shot-container {
  position: relative;
  background: var(--dark-blue) url("./assets/work-desk__dustin-lee.jpg") center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: calc(100vh - 70px);
}

#hero-shot-container > .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-align: center;
}

#hero-shot-container > .content > h1 {
  font-weight: normal;
  font-size: 33px;
}

#hero-shot-container > .content > h2 {font-size: 28px;}

.btn {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-small {
  background: var(--blue);
  color: var(--white);
  padding: 7px 17px;
  font-size: 14px;
}

.btn-small:hover {color: var(--white);}

.btn-primary {
  outline: none;
  border: 2px solid var(--white);
  border-radius: 2px;
  background: transparent;
  color: var(--white);
  text-transform: uppercase;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: inset 0 0 0 0 var(--white);
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.btn-primary:hover {
  background: var(--white);
  color: var(--dark-blue);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 400px 0 0 0 var(--white);
}

.highlights-panel h2 {
  font-size: 25px;
}

.section-header {
  max-width: 580px;
  margin: auto;
}

.section-header .section-heading {
  font-size: 30px;
  font-weight: normal;
}

.section-header > p {
  margin: 16px 0;
}

.tile-container {
  position: relative;
  border: 1px solid var(--grey);
  margin: 15px;
  padding: 20px;
}

.tile-container .heading {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 16px;
}

.tile-container > span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
}

.newsletter-panel {
  width: 90%;
  max-width: 640px;
  padding: 0 25px;
  font-size: 15px;
  line-height: 25px;
  height: 0;
  z-index: 900;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--blue);
  color: var(--white);
  transition: all 0.6s ease-in;
}

.panel-open {
  padding: 15px 25px;
  height: 220px;
  opacity: 0.9;
}

.newsletter-panel button {
  background: var(--orange);
  outline: none;
  font-size: small;
  color: var(--white);
  padding: 2px 8px;
  font-weight: bold;
}

.newsletter-panel form > input {
  border: none;
  height: 25px;
  width: 80%;
}

.newsletter-panel > p {
  margin: 16px 0;
}

#close-panel {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 12px;
  cursor: pointer;
}

input::placeholder {
  padding-left: 5px;
  font-weight: 600;
  color: #cbcecc;
  
}

footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: var(--white);
  background-color: rgb(5, 3, 40);
}

footer p {
  font-size: 13px;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

/* mobile */
@media only screen and (max-width: 480px) {
  .container .col {
    width: 95%;
  }

  .main-content {
    margin-top: 170px;
  }

  #hero-shot-container {
    height: calc(100vh - 170px);
  }

  #hero-shot-container > .content,
  .section-header {
    width: 90%;
  }

  .newsletter-panel {
    width: 100%;
    line-height: 35px;
  }

  .panel-open {
    height: 350px;
  }

  .newsletter-panel button,
  .newsletter-panel form > input {
    width: 100%;
  }

  #notification-panel {
    width: auto;
    height: 170px;
    padding: 15px;
  }

  #notification-panel > .notification-content {
    min-width: initial;
    flex-direction: column;
    align-items: flex-start;
  }

  #notification-panel > .notification-content > p {width: fit-content;}

  #hero-shot-container > .content > h1 {
    font-size: 28px;
  }

  #hero-shot-container > .content > h2 {
    font-size: 24px;
  }

  .highlights-panel {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 960px) {
  .container .col {
    width: 40%;
  }
}

@media only screen and (min-width: 960px) {
  .container .col {
    width: 30%;
  }
}


/* @media only screen and (max-width: 768px) {
  #notification-panel {
    border: 1px solid black;
    height: auto;
  }
  #notification-panel > .notification-content {
    padding: 0 10px;
  }

} */